@model IEnumerable<Entidades.Modelos.Curriculo>

@{
    ViewData["Title"] = "Relatório de Cursos";
}

<h1>Relatório de Cursos</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeDoCurso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeParaLista)
            </td>
            <td align="right">
                <a  class="btn btn-outline-primary" asp-action="Cursos" asp-route-id="@item.Id">Gerar Relatório</a>
            </td>
        </tr>
}
    </tbody>
</table>
