@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;

<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Stylesheets", required: false)
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MatrículaPUCRS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light-gray border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Disciplinas" asp-action="Index">
                    <img src="~/images/pucrsicon.png" width="35" height="50" alt="PUCRS" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            if (User.IsInRole("Estudante"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark dropdown-toggle" href="#" role="button" id="matriculasDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Matrículas
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="matriculasDropdownMenuLink">
                                        <a class="text-dark dropdown-item" asp-area="" asp-controller="Matriculas" asp-action="Index">Minhas turmas</a>
                                        <a class="text-dark dropdown-item" asp-area="" asp-controller="Matriculas" asp-action="GradeDeHorario">Grade de horários</a>
                                        <a class="text-dark dropdown-item" asp-area="" asp-controller="Matriculas" asp-action="Disciplinas">Disciplinas disponíveis</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark dropdown-toggle" href="#" role="button" id="cursosDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Curso
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="cursosDropdownMenuLink">
                                        <a class="text-dark dropdown-item" asp-area="" asp-controller="Disciplinas" asp-action="Index">Disciplinas no semestre</a>
                                        <a class="text-dark dropdown-item" asp-area="" asp-controller="Disciplinas" asp-action="Curriculo">Currículo</a>
                                        <a class="text-dark dropdown-item" asp-area="" asp-controller="Disciplinas" asp-action="HistoricoEscolar">Histórico Escolar</a>
                                        <a class="text-dark dropdown-item" asp-area="" asp-controller="Disciplinas" asp-action="HistoricoMatriculas">Histórico de Matrículas</a>
                                    </div>
                                </li>
                            }
                            @if (User.IsInRole("Coordenador"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Turmas" asp-action="Index">Turmas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Semestres" asp-action="Index">Semestres</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark dropdown-toggle" href="#" role="button" id="cursosDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Cursos
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="cursosDropdownMenuLink">
                                        <a class="text-dark dropdown-item" asp-area="" asp-controller="Disciplinas" asp-action="Index">Disciplinas no semestre</a>
                                        <a class="text-dark dropdown-item" asp-area="" asp-controller="Disciplinas" asp-action="Curriculo">Currículo</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark dropdown-toggle" href="#" role="button" id="relatoriosDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Relatórios
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="relatoriosDropdownMenuLink">
                                        <a class="text-dark dropdown-item" asp-area="" asp-controller="Relatorios" asp-action="Index">Matrículas</a>
                                        <a class="text-dark dropdown-item" asp-area="" asp-controller="Relatorios" asp-action="Alunos">Alunos</a>
                                        <a class="text-dark dropdown-item" asp-area="" asp-controller="Relatorios" asp-action="Disciplinas">Disciplinas</a>
                                        <a class="text-dark dropdown-item" asp-area="" asp-controller="Relatorios" asp-action="GradesDeHorario">Grades de horários</a>
                                    </div>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" role="button" id="cursosDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Cursos
                                </a>
                                <div class="dropdown-menu" aria-labelledby="cursosDropdownMenuLink">
                                    <a class="text-dark dropdown-item" asp-area="" asp-controller="Disciplinas" asp-action="Index">Disciplinas no semestre</a>
                                    <a class="text-dark dropdown-item" asp-area="" asp-controller="Disciplinas" asp-action="Curriculo">Currículo</a>
                                </div>
                            </li>
                        }
                    </ul>
                    <div class="justify-content-end">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MatrículaPUCRS
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
